<launch>
  <arg name="config" default="base" />

  <param name="robot_description"
         command="$(find jackal_description)/scripts/env_run
                    $(find jackal_description)/urdf/configs/$(arg config)
                    $(find xacro)/xacro $(find jackal_manipulator_description)/urdf/jackal.urdf.xacro
                    --inorder" />
  

  <rosparam command="load" file="$(find jackal_manipulator_description)/launch/mico_joint_states.yaml" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
