<?xml version="1.0"?>
<robot name="jackal" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find jackal_description)/urdf/jackal.urdf.xacro"/>
  <xacro:include filename="$(find kinova_description)/urdf/m1n4a200.xacro"/>

  <xacro:m1n4a200 base_parent="mid_mount"/>

  
</robot>
