<?xml version="1.0"?>
<robot name="jackal" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find jackal_description)/urdf/jackal.urdf.xacro"/>
  <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro"/>
  
  <xacro:ur3_robot prefix="ur3_" joint_limited="true"/>

  <joint name="ur3_joint" type="fixed">
    <parent link="mid_mount" />
    <child link = "ur3_base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
